<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <!-- Path relative to solution directory -->
    <ResultsDirectory>.\TestResults</ResultsDirectory>

    <!-- x86 or x64 -->
    <!-- You can also change it from menu Test > Test Settings > Default Processor Architecture -->
    <!--<TargetPlatform>x86</TargetPlatform> -->

    <!-- Framework35 | [Framework40] | Framework45 -->
    <!-- <TargetFrameworkVersion>Framework40</TargetFrameworkVersion> -->

    <!-- Path to Test Adapters -->
    <!--<TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>-->

    <!-- TestSessionTimeout is only available with Visual Studio 2017 version 15.5 and higher -->
    <!-- Specify timeout in milliseconds. A valid value should be greater than 0 -->
    <TestSessionTimeout>100000</TestSessionTimeout>
  </RunConfiguration>

  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>

            <!-- Exclude .dll's by file name pattern -->
            <ModulePaths>
              <Exclude>
                <ModulePath>.*Tests.dll</ModulePath>
                <ModulePath>.*\\moq\.dll$</ModulePath>
                <ModulePath>Program.cs</ModulePath>
              </Exclude>
            </ModulePaths>

            <!-- Exclude anything in the project DataAccess' folder Entities -->
            <ModulePaths>
              <Exclude>
                <ModulePath>.*\\DTOs\\.*</ModulePath>
                <ModulePath>^DataAccess\.DTOs\..*</ModulePath>
                <ModulePath>DTOs\..*</ModulePath>
              </Exclude>
            </ModulePaths>

            <!-- Exclude file names -->
            <Sources>
              <Exclude>
                <Source>.*\\Global.asax.cs*</Source>
                <Source>.*\\Program.cs*</Source>
                <Source>.*\\DeVInSales\Program.cs*</Source>
              </Exclude>
            </Sources>

            <!-- Exclude company name as listed in the assembly file -->
            <CompanyNames>
              <Exclude>
                <CompanyName>.*microsoft.*</CompanyName>
              </Exclude>
            </CompanyNames>

            <!-- Exclude by public key token of an assembly -->
            <PublicKeyTokens>
              <Exclude>
                <PublicKeyToken>^B77A5C561934E089$</PublicKeyToken>
              </Exclude>
            </PublicKeyTokens>

            <!-- Microsoft recommends you do not change the following values: -->
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
            <CollectFromChildProcesses>True</CollectFromChildProcesses>
            <CollectAspDotNet>False</CollectAspDotNet>

          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>